<input [(ngModel)]="name" (keydown.alt.enter)=save(tree) (keyup)="changeValue($event.target.value)" [value]="name" placeholder="Alt + Enter => Save">
<button (click)="save(tree)">Save Story</button>
<button (click)="expandAll(tree)">Expand All</button>
<button (click)="collapseAll(tree)">Collapse All</button>
<tree-root #tree [nodes]="(stories | async)" [options]="options" (moveNode)="updateTree(tree)">
  <ng-template #treeNodeTemplate let-story let-index="index">
    <div>
    <input [(ngModel)]="story.data.name" (keyup)="changeStoryName($event.target.value, tree, story.data)" [value]="story.data.name">
    <button (click)="deleteStory(tree, story.data)">x</button>
  </div>
  </ng-template>
</tree-root>

<!-- <input (keyup)=checkKey($event)  placeholder="for Debug"> -->
