.tree-view {
  tree-node-wrapper {
    padding: 0 0 0 6px;
  }
  tree-node {
    &-checkbox {
      margin: 0;
      width: 0;
      visibility: hidden;
    }
    &-content {
      & div {
        & input {
          width: calc(90% - 30px);
          float: left;
        }
        & button {
          float: right;
          height: 26px;
          background: none;
          border: none;
          color: gray;
        }
      }
    }
  }
  .tree-node {
    & input {
      font-size: 12px;
      font-weight: bold;
      margin: 0px;
      padding: 0px;
      border: none;
    }
    &-leaf {
      & input {
        font-size: 16px;
        font-weight: lighter;
        margin: 0px;
        padding: 2px 0px 0px 0px;
      }
      & tree-node-wrapper {
        & .node-wrapper {
          & tree-node-checkbox {
            visibility: visible;
            width: auto;
            margin: 0 4px 0 0;
          }
          & tree-node-expander {
            visibility: hidden;
            width: 0px;
          }
        }
      }
    }
    &-loading {
      display: none;
    }
    &-level-1 {
      margin: 5px;
    }
  }
  .node-content-wrapper {
    padding :0px 1px;
  }
  .node-content-wrapper-active, .node-content-wrapper-focused, .node-content-wrapper:hover, .node-content-wrapper-active, .node-content-wrapper-focused, .node-content-wrapper:hover{
    background: none;
    border: none;
    box-shadow: none;
  }
  .node-content-wrapper:hover {
    background: none;
    border: none;
    box-shadow: none;
  }
}
